In [15]:
import mysql.connector as mariadb 
import json
import numpy as np
mariadb_connection = mariadb.connect(user='root', password='', database='test') 
cursor = mariadb_connection.cursor()

cursor.execute('select * from users')
r = []
for i in cursor:
    r.append(i)
json.dumps(r)

'[[1, "yyf", "25264d54-b6ce-4f15-9db5-a652e43ebefb"], [2, "czt", "e323879b-e35a-4bdb-95d6-64b2da397801"], [3, "zmq", "d956b150-64c2-43fc-b090-cc780286ca2f"], [4, "dxh", "4eb7e73b-f77c-4b4b-befe-546bae2067a6"], [5, "xhx", "cfad23fb-16cd-4d90-8883-093c1238ef35"], [6, "wph", "4356ee9e-a35a-416e-985e-4a191db0bef4"]]'

In [8]:
import subprocess
img_url = 'http://43.241.238.58:5000/static/upload/IMG_201706251224214323.jpg'
cmd = 'python Face/face.py  "%s"' % img_url

result_str = subprocess.check_output(cmd, shell=True)
result_str = result_str.decode('utf8')
result_str

"data: [{'faceId': '895ba0c9-ca20-4caf-a485-0d02e7eed9dd', 'faceRectangle': {'top': 978, 'left': 2076, 'width': 917, 'height': 917}, 'faceAttributes': {'emotion': {'anger': 0.0, 'contempt': 0.003, 'disgust': 0.0, 'fear': 0.0, 'happiness': 0.467, 'neutral': 0.523, 'sadness': 0.004, 'surprise': 0.002}}}, {'faceId': 'b9ba9c8f-d07d-45f8-9b12-21987cd0c658', 'faceRectangle': {'top': 855, 'left': 182, 'width': 768, 'height': 768}, 'faceAttributes': {'emotion': {'anger': 0.001, 'contempt': 0.0, 'disgust': 0.0, 'fear': 0.0, 'happiness': 0.998, 'neutral': 0.0, 'sadness': 0.0, 'surprise': 0.0}}}]\nfaceID: ['895ba0c9-ca20-4caf-a485-0d02e7eed9dd', 'b9ba9c8f-d07d-45f8-9b12-21987cd0c658']\nlen(data):  2\nlen(faceID):  2\n[('4356ee9e-a35a-416e-985e-4a191db0bef4', 0.018325781)]\n"

In [17]:
#from numpy import array
#array = np.array
#float32 = np.float32
l = eval(result_str)

In [13]:
l

[('4356ee9e-a35a-416e-985e-4a191db0bef4', array([ 0.01820427], dtype=float32)),
 ('4356ee9e-a35a-416e-985e-4a191db0bef4', array([ 0.01863985], dtype=float32))]

In [22]:
import pandas as pd

In [34]:
l = pd.DataFrame(l)
l

                                      0            1
0  4356ee9e-a35a-416e-985e-4a191db0bef4  [0.0182043]
1  4356ee9e-a35a-416e-985e-4a191db0bef4  [0.0186398]

In [59]:
l[[1]] = l[[1]].apply(lambda x: x[0])

In [65]:
l

                                      0         1
0  4356ee9e-a35a-416e-985e-4a191db0bef4  0.018204
1  4356ee9e-a35a-416e-985e-4a191db0bef4  0.018204